.charts {
    height: auto;

    [class*="-container"] {
        border-bottom: 1px solid lightgray;
    }

    [class*="-title"] {
        font-weight: 500;
        margin-left: 10px;
        margin-top: 15PX;
    }

    [class*="-chart"] {
        width: 90%;
        margin: auto;
    }
}

.line-container {
    height: auto;
    width: 100%;
}
.bar-container {
    width: 100%;
}
.donut-container {
    background-color: blue;
    width: 100%;
}

.timeframes {
    margin: 5px 0px 10px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 0.8rem;
}

.timeframe {
    width: 65px;
    color: white;
    background-color: #81c98f;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .bar-container,
    .donut-container {
        width: 50%;
    }
}