.charts {
    height: auto;

    [class*="-container"] {
        padding: 10px;
        border-bottom: $border-style;
    }

    [class*="-title"] {
        font-weight: 500;
        margin: 15px 0;
    }

    [class*="-chart"] {
        max-width: 1000px;
        position: relative;
    }
}

.line-container {
    width: 100%;
}
.bar-container {
    width: 100%;
}
.donut-container {
    width: 100%;
}


.timeframes {
    margin: 5px 0px 10px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
}

.timeframe {
    width: 65px;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .line-container {
        display: flex;
        flex-wrap: wrap;
    }

    .bar-container,
    .donut-container {
        width: 50%;
    }

    .bar-container {
        border-right: $border-style;
    }

    .timeframes {
        width: auto;
        margin-left: auto;

        .timeframe {
            margin-left: 5px;
        }
    }

    .line-chart {
        flex-basis: 100%;
    }
}