.charts {
    height: auto;

    [class*="-container"] {
        border-bottom: 1px solid lightgray;
    }

    [class*="-title"] {
        font-weight: 500;
    }
}

.line-container {
    height: auto;
    width: 100%;
    position: relative;
}
.bar-container {
    width: 100%;
}
.donut-container {
    background-color: blue;
    width: 100%;
}

.timeframes {
    margin: 5px 0px 20px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.timeframe {
    width: 75px;
    color: white;
    background-color: #81c98f;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

.line-chart {
    width: 90vw;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .bar-container,
    .donut-container {
        width: 50%;
    }
}